/* ------------- Media Queries -------------
    small-size: 560px;
    medium-size: 720px;
    large-size: 960px;
    xlarge-size: 1200px;
---------------------------------------  */

/* ----------------- Font Load ----------------- */
/* Silkscreen Normal */
@font-face {
    font-family: 'silkscreen';
    src: url('../assets/fonts/slkscr.woff2') format('woff2'),
         url('../assets/fonts/slkscr.woff') format('woff'),
         url('../assets/fonts/slkscr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat Light */
@font-face {
    font-family: 'montserrat_light';
    src: url('../assets/fonts/montserrat-light.woff2') format('woff2'),
         url('../assets/fonts/montserrat-light.woff') format('woff'),
         url('../assets/fonts/montserrat-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat Semibold */
@font-face {
    font-family: 'montserrat_semibold';
    src: url('../assets/fonts/montserrat-semibold.woff2') format('woff2'),
         url('../assets/fonts/montserrat-semibold.woff') format('woff'),
         url('../assets/fonts/montserrat-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Open Sans Regular */
@font-face {
    font-family: 'opensans_regular';
    src: url('../assets/fonts/opensans-regular.woff2') format('woff2'),
         url('../assets/fonts/opensans-regular.woff') format('woff'),
         url('../assets/fonts/opensans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Open Sans Light */
@font-face {
    font-family: 'opensans_light';
    src: url('../assets/fonts/opensans-light.woff2') format('woff2'),
         url('../assets/fonts/opensans-light.woff') format('woff'),
         url('../assets/fonts/opensans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Open Sans Semibold */
@font-face {
    font-family: 'opensans_semibold';
    src: url('../assets/fonts/opensans-semibold.woff2') format('woff2'),
         url('../assets/fonts/opensans-semibold.woff') format('woff'),
         url('../assets/fonts/opensans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------------------  */

/* ----------------- Base ----------------- */
:root {
    --dark-blue: #0d0e11;
    --dark-grey: #13161d;
    --blue-txt: #2323d9;
    --dark-blue-txt: #2f52ab;
    --white: #ffffff;
    --black: #000000;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--dark-blue);;
}
/* ---------------------------------------  */

/* ------------- Slider & Hero ------------- */
.slider {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../assets/img/hero/bg-base.jpg');
    overflow: hidden;

    transition: 5s;
    animation-name: slider;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes slider {
    35% { background-image: url('../assets/img/hero/bg-dj.jpg'); }
    65% { background-image: url('../assets/img/hero/bg-artist.jpg'); }
    95% { background-image: url('../assets/img/hero/bg-music.jpg'); }
}

.hero {
    height: 100%;
    display: flex;
    color: var(--white);
}

.hero > .text-left,
.hero > .text-right {
    display: none;
}
@media only screen and (min-width: 960px) {
    .hero > .text-left,
    .hero > .text-right {
        display: flex;
        position: relative;
        justify-content: center;
        justify-content: space-around;
        font-family: 'silkscreen', sans-serif;
    }   
}
.hero > .text-left {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    animation: text-left 6s linear forwards 1;
}
@keyframes text-left {
    0% { top: 100px; }
    25% { top: 75px; }
    50% { top: 50px; }
    75% { top: 25px; }
    100% { top: 0; }
}
.hero > .text-right {
    writing-mode: vertical-lr;
    transform: rotate(360deg);
    animation: text-right 6s linear forwards 1;
}
@keyframes text-right {
    0% { bottom: 90px; }
    25% { bottom: 75px; }
    50% { bottom: 50px; }
    75% { bottom: 25px; }
    100% { bottom: 0px; }
}

.main-content {
    display: flex;
    flex:  1 1 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.space-top {
    flex:  1 1 auto;
}
.main-logo {
    width: 320px;
    height: 42px;
    opacity: 0;
    position: relative;
    margin-bottom: 120px;
    animation: fadein-content 3s linear 1s forwards 1;
}
@media only screen and (min-width: 720px) {
    .main-logo {
        width: 652px;
        height: 97px;
    }
}
.claim {
    opacity: 0;
    width: 260px;
    display: flex;
    padding: 14px 0;
    font-size: 14px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border: 3px solid var(--white);
    font-family: 'opensans_light', sans-serif;
    animation: fadein-content 3s linear 3s forwards 1;
}
@keyframes fadein-content {
    0% { opacity: 0.1; }
    25% { opacity: 0.2; }
    50% { opacity: 0.5; }
    75% { opacity: 0.7;}
    100% { opacity: 1; }
}
@media only screen and (min-width: 720px) {
    .claim {
        width: 340px;
        font-size: 16px;
        border: 5px solid var(--white);
    }
}
.bold-txt-os {
    margin: 0 6px;
    font-family: 'opensans_semibold', sans-serif;
}
.small-txt {
    opacity: 0;
    margin-bottom: 210px;
    animation: blink 3s infinite 4s;
    font-family: 'opensans_light', sans-serif;
}
@keyframes blink {
    0% { opacity: 0; }
    25% { opacity: 0.1; }
    50% { opacity: 0.5; }
    75% { opacity: 0.1; }
    100% { opacity: 0; }
}
/* ---------------------------------------  */

/* ------------- Slider & Promo ------------- */

#sliderPromo::before {
    top: 0;
    left: 50%;
    z-index: 1;
    position: absolute;
    color: var(--white);
    letter-spacing: 5px;
    content: 'Soundnext';
    text-transform: uppercase;
    transform: translate(-50%, 30px);
    transition: opacity .5s .25s ease-out;
    font-family: 'montserrat_semibold', sans-serif;
}

.carousel-caption {
  bottom: 10rem;
  z-index: 10;
}
.carousel-item {
  height: 50rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 50rem;
}
@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}
.promo-one,
.promo-two,
.promo-three {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.promo-one-headline {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 80px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: 'montserrat_semibold', sans-serif;
}
@media only screen and (min-width: 560px) {
    .promo-one-headline {
        font-size: 2.5rem;
        letter-spacing: 4px;
    }
}
.promo-one-subheadline {
    margin-left: 80px;
    font-size: 15px!important;
    text-transform: uppercase;
    font-family: 'montserrat_light', sans-serif;
}
.promo-one-text {
    font-size: small;
    max-width: 300px;
    margin-left: 80px;
}
.promo-one-cross::before {
    content: '';
    left: 0;
    top: 175px;
    width: 66px;
    height: 66px;
    position: absolute;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/img/extras/cross-small.png');
}
@media only screen and (min-width: 945px) {
    .promo-one-cross::before {
        top: 125px; 
    }
}

.promo-two-headline,
.promo-two-headline.second {
    text-align: right;
    font-size: 1.8rem;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: 'montserrat_light', sans-serif;
}
.promo-two-headline.second {
    margin-bottom: 80px;
    font-family: 'opensans_light', sans-serif;
}
@media only screen and (min-width: 560px) {
    .promo-two-headline,
    .promo-two-headline.second {
        font-size: 2.5rem;
        letter-spacing: 4px;
    }
}
.promo-two-subheadline {
    font-size: 15px!important;
    text-transform: uppercase;
    font-family: 'montserrat_light', sans-serif;
}
.promo-two-text {
    font-size: small;
    max-width: 300px;
    margin-bottom: 15px;
}
a.promo-two-link {
    color: var(--blue-txt);
    text-transform: uppercase;
}
.promo-two-price {
    font-family: 'opensans_light', sans-serif;
}
.promo-two-number {
    font-size: xxx-large;
}
.promo-two-pass {
    margin-left: 15px;
    font-size: x-medium;
    text-transform: uppercase;
    color: var(--dark-blue-txt);
}
.promo-two-cross::before {
    content: '';
    right: 0;
    bottom: -75px;
    width: 66px;
    height: 66px;
    position: absolute;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/img/extras/cross-small.png');
}

.promo-three-headline {
    font-size: 1.8rem;
    margin-bottom: 80px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: 'montserrat_light', sans-serif;
}
@media only screen and (min-width: 560px) {
    .promo-three-headline {
        font-size: 2.5rem;
        letter-spacing: 4px;
    }
}
.promo-three-subheadline {
    margin-left: 80px;
    font-size: 15px!important;
    text-transform: uppercase;
    font-family: 'montserrat_light', sans-serif;
}
.promo-three-text {
    font-size: small;
    max-width: 300px;
    margin-left: 80px;
    margin-bottom: 15px;
}
a.promo-three-link {
    margin-left: 80px;
    color: var(--blue-txt);
    text-transform: uppercase;
}
@media only screen and (min-width: 720px) {
    .promo-three-subheadline,
    .promo-three-text,
    a.promo-three-link {
        margin-left: 180px;
    }
}
@media only screen and (min-width: 960px) {
    .promo-three-subheadline,
    .promo-three-text,
    a.promo-three-link {
        margin-left: 280px;
    }
}
.promo-three-cross::before {
    content: '';
    left: 0;
    bottom: -75px;
    width: 66px;
    height: 66px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/img/extras/cross-small.png');
}
/* ----------------------------------------  */

/* ------------ Artist Cover ------------ */
.bg-cover {
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/img/artist_cover/cover_left.jpg');
}
.bg-cover::before {
    left: 8px;
    bottom: 50%;
    width: 140px;
    height: 245px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: translate(0, 50%);
    background-image: url('../assets/img/extras/playoutline.png');
}
.bg-cover::after {
    right: 100px;
    bottom: 80px;
    width: 66px;
    height: 66px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../assets/img/extras/cross-small.png');
}
@media only screen and (min-width: 575px) and (max-width: 767px) {
    .bg-cover::before,
    .bg-cover::after {
        content: '';
    }
}
@media only screen and (min-width: 1200px) {
    .bg-cover::before,
    .bg-cover::after {
        content: '';
    }
}
.cover-container {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
@media only screen and (max-width: 767px) {    
    .cover-container {
        height: 600px;
    }
}
.cover-logo {
    width: 114px;
    height: 17px;
    object-fit: cover;
}
.cover-headline,
.cover-name {
    color: var(--white);
    text-transform: uppercase;
    font-family: 'montserrat_semibold', sans-serif;
}
.cover-name {
    font-size: xx-large;
}
.cover-text,
a.cover-link {
    font-size: small;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'montserrat_light', sans-serif;
}
a.cover-link {
    text-decoration: underline;
}
.img-full,
.img-half {
    object-fit: cover;
}
.img-full {
    width: 100%;
}
.img-half {
    width: 50%;
}
/* ------------------------------------- */

/* ------------ Partners ------------ */
.partners {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 16px;
    background: var(--dark-grey);
}
@media only screen and (min-width: 1260px) {
    .partners {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 180px;
    }
}
.partners-txt {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-family: 'montserrat_semibold', sans-serif;
}
.partners-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.img-partner {
    width: 180px;
    height: 52px;
}
/* --------------------------------  */

/* ------------ Soundnext Parallax ------------ */
.parallax-img {
    width: 100%;
    display: flex;
    height: 300px;
    align-items: center;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('../assets/img/hero/bg-base.jpg');
}
@media only screen and (min-width: 960px) {
    .parallax-img {
        height: 600px;
    }
}
.parallax-logo {
    width: 320px;
    height: 42px;
    opacity: 0;
    position: relative;
    animation: fadein-content 3s linear 1s forwards 1;
}
@media only screen and (min-width: 720px) {
    .parallax-logo {
        width: 652px;
        height: 97px;
    }
}
/* -------------------------------------------  */

/* ------------ Social Links ------------ */
.social-links {
    width: 100%;
    display: flex;
    color: var(--white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-grey);
}
.social-headline {
    margin: 50px 0;
    text-transform: uppercase;
    font-family: 'montserrat_semibold', sans-serif;
}
.light-txt-mo {
    margin: 0 6px;
    font-family: 'montserrat_light', sans-serif;
}
.social-container {
    display: flex;
    max-width: 1200px;
    margin-bottom: 50px;
    flex-direction: column;
}
@media only screen and (min-width: 960px) {
    .social-container {
        flex-direction: row;
    }
}
.social-container > a {
    width: 100%;
}
.img-social {
    width: 100%;
    height: auto;
    object-fit: fill;
}
/* -------------------------------------  */

/* ------------ Footer ------------ */
footer {
    display: flex;
    color: var(--white);
    align-items: center;
    padding: 5px 0 25px 0;
    flex-direction: column;
    box-sizing: border-box;
    background: var(--dark-grey);
    font-family: 'opensans_regular', sans-serif;
}
.footer-logo {
    width: 304px;
    height: 48px;
}
.copyright {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.author {
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
}
a.repo-link,
a.mailto {
    color: var(--white);
}
a.mailto {
    white-space: nowrap;
}
.contact {
    margin: 25px 0;
    text-align: center;
}
.menu-footer {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
@media only screen and (min-width: 960px) {
    .menu-footer {
        flex-direction: row;
    }
}
p.menu-item > a.menu-link {
    font-size: 14px;
    color: var(--white);
    text-decoration: none;
}
p.menu-item > a.menu-link:hover {
    text-decoration: underline;
}
/* ------------------------------  */
