/* ------------ Social Links ------------ */
.social-links {
    width: 100%;
    display: flex;
    color: var(--white);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-grey);
}
.social-headline {
    margin: 50px 0;
    text-transform: uppercase;
    font-family: 'montserrat_semibold', sans-serif;
}
.light-txt-mo {
    margin: 0 6px;
    font-family: 'montserrat_light', sans-serif;
}
.social-container {
    display: flex;
    max-width: 1200px;
    margin-bottom: 50px;
    flex-direction: column;
}
@media only screen and (min-width: 960px) {
    .social-container {
        flex-direction: row;
    }
}
.social-container > a {
    width: 100%;
}
.img-social {
    width: 100%;
    height: auto;
    object-fit: fill;
    max-width: 333px;
}
/* -------------------------------------  */
